@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin "daisyui";

@theme {
  /* Silver Tree palette */
  --color-silver-tree-50: #f3faf7;
  --color-silver-tree-100: #d7f0e5;
  --color-silver-tree-200: #aee1cc;
  --color-silver-tree-300: #7dcbad;
  --color-silver-tree-400: #58b192;
  --color-silver-tree-500: #399375;
  --color-silver-tree-600: #2b765f;
  --color-silver-tree-700: #265f4e;
  --color-silver-tree-800: #224d41;
  --color-silver-tree-900: #204137;
  --color-silver-tree-950: #0e251f;

  /* Golden Grass palette */
  --color-golden-grass-50: #fffce7;
  --color-golden-grass-100: #fff9c1;
  --color-golden-grass-200: #ffef87;
  --color-golden-grass-300: #ffde42;
  --color-golden-grass-400: #ffcb0f;
  --color-golden-grass-500: #e6ab02;
  --color-golden-grass-600: #cf8900;
  --color-golden-grass-700: #a56003;
  --color-golden-grass-800: #884b0b;
  --color-golden-grass-900: #733d10;
  --color-golden-grass-950: #441f04;
}
/* Dark mode colors. */
:root {
  --sl-color-accent-low: var(--color-silver-tree-100);
  --sl-color-accent: var(--color-silver-tree-800);
  --sl-color-accent-high: var(--color-silver-tree-500);
  --sl-color-white: var(--color-silver-tree-50);
  --sl-color-gray-1: var(--color-silver-tree-900);
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: var(--color-silver-tree-700);
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: var(--color-silver-tree-200);
  --sl-color-accent: var(--color-silver-tree-600);
  --sl-color-accent-high: var(--color-silver-tree-800);
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: var(--color-silver-tree-500);
  --sl-color-gray-6: var(--color-silver-tree-100);
  --sl-color-gray-7: var(--color-silver-tree-100);
  --sl-color-black: var(--color-silver-tree-50);
}
