---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Get Started"
  description="Step-by-step guides to help you get started with NAHPU."
  ><div class="bg-silver-tree-100 dark:bg-silver-tree-950">
    <div class="max-w-7xl mx-auto py-6 px-4">
      <div class="py-6 px-2 text-center">
        <h1 class="text-4xl font-bold mb-6">Get Started</h1>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-3">
          <div>
            <h2 class="text-2xl font-semibold">Video Tutorials</h2>
            <p class="text-silver-tree-900 dark:text-silver-tree-100 mb-4">
              Learn how to set up NAHPU and create your first project using the
              bird catalog format as an example.
            </p>
            <div
              class="relative max-w-4xl aspect-video rounded-xl overflow-hidden shadow-lg"
            >
              <iframe
                class="absolute inset-0 w-full h-full"
                src="https://www.youtube.com/embed/izDc3oXse4Y?si=8tJhnBFaTYytbaFi"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
