---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="NAHPU Team"
  description="Meet the team behind the NAHPU project, dedicated to revolutionizing field expeditions with a digital catalog for everyone."
>
  <div>Team page coming soon!</div>
</Layout>
