---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Video Tutorials"
  description="Step-by-step guides to help you get started with NAHPU."
  ><div class="bg-silver-tree-100 dark:bg-silver-tree-950">
    <div class="max-w-7xl mx-auto py-6 px-4">
      <div class="py-6 px-2 text-center">
        <h1 class="text-4xl font-bold mb-6">NAHPU Video Tutorials</h1>
        <p class="text-lg mb-8">
          Welcome to the NAHPU Video Tutorials! Here you'll find step-by-step
          guides to help you get started with NAHPU and make the most of its
          features. Whether you're new to NAHPU or looking to deepen your
          understanding, these tutorials will walk you through the basics and
          beyond.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-3">
          <div>
            <h2 class="text-2xl font-semibold">Getting Started</h2>
            <p class="text-silver-tree-900 dark:text-silver-tree-100 mb-4">
              Learn how to set up NAHPU and create your first project using the
              bird catalog format as an example.
            </p>
            <div
              class="relative max-w-4xl aspect-video rounded-xl overflow-hidden shadow-lg"
            >
              <iframe
                class="absolute inset-0 w-full h-full"
                src="https://www.youtube.com/embed/izDc3oXse4Y?si=8tJhnBFaTYytbaFi"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
