---
import Navbar from "../components/Navbar.astro";
import cntl from "cntl";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const bodyClasses = cntl`
  bg-silver-tree-950
  text-silver-tree-900
  dark:text-silver-tree-100
  min-h-screen
  flex
  flex-col
`;

const footerClasses = cntl`
  text-center
  dark:bg-silver-tree-800
  bg-silver-tree-200
  text-silver-tree-600
  dark:text-silver-tree-200
  text-sm
  py-4
  border-t
  border-silver-tree-100
  dark:border-silver-tree-800
`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" href="/src/assets/nahpu.svg" type="image/svg+xml" />
  </head>
  <body class={bodyClasses}>
    <Navbar />
    <main>
      <slot />
    </main>

    <footer class={footerClasses}>
      © {new Date().getFullYear()} the NAHPU project. All rights reserved.
    </footer>
  </body>
</html>
